<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="movies, cinema, moviestack">
    <meta name="description" content="The best movies are here in Moviestack">
    <link rel="shortcut icon" href="../assets/Moviestack_isotipo.png" type="image/x-icon">
    <meta name="author" content="Mariela Morsucci">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Movies</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body class="h-screen w-screen flex flex-wrap content-between box-border bg-gray-200">

    <header class="h-1/6 w-full flex flex-wrap justify-between content-center p-2 bg-gray-800">

        <div class="w-2/5 flex md:w-2/5 ">
            <img class="w-[100px] object-cover" src="../assets/Moviestack_isotipo.png" alt="logo Moviestack">
            <img class=" w-[400px] object-fill" src="../assets/Moviestack_logotipo1.png" alt="logotipo">
        </div>

        <nav class=" w-2/5  flex flex-wrap gap-1 justify-around content-center p-4 text-white md:max-h-1/6">
            <a class="px-4 py-2 bg-gray-200 text-black rounded-lg hover:scale-110 transition-transform ease-in-out duration-200 "
                href="./index.html">HOME</a>
            <a class="px-4 py-2 bg-gray-200 text-black rounded-lg hover:scale-110 transition-transform ease-in-out duration-200 "
                href="./movies.html">MOVIES</a>
            <a class="px-4 py-2 bg-gray-200 text-black rounded-lg hover:scale-110 transition-transform ease-in-out duration-200 bg-indigo-400"
                href="#">FAVS</a>

        </nav>

    </header>


    <main class=" w-full flex flex-wrap bg-gray-200 ">

        <div class=" w-full">
            <h1 class="exo-font h-[100px] w-full text-center text-4xl md:text-5xl font-bold bg-indigo-200 p-5 ">
                FAVORITES MOVIES
            </h1>
        </div>
     

        <div id="favoriteContent" class="flex flex-wrap justify-around gap-6 p-6 ">



        </div>



    </main>

    <footer class="h-1/6 w-full bg-gray-800 text-white flex flex-wrap justify-center content-center text-center">
        <div>
            <p>MINDHUB &reg; COHORT 54 </p>
        </div>

    </footer>



    <script type="module" src="../js/favorites.js"></script>
    <!-- <script src="../js/movie.js"></script> -->

    <!-- Este script esta ligado al script de funcionamiento del html -->

</body>

</html>