<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="movies, cinema, moviestack">
    <meta name="description" content="The best movies are here in Moviestack">
    <link rel="shortcut icon" href="../assets/Moviestack_isotipo.png" type="image/x-icon">
    <meta name="author" content="Mariela Morsucci">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">

</head>

<body class="h-screen flex flex-column flex-wrap content-between box-border">

    <header class="h-1/6 w-full flex flex-wrap justify-between content-center p-4 bg-gray-800">
       
        <div class="w-1/5 flex ">
            <img class="w-[200px] " src="../assets/Moviestack_isotipo.png" alt="logo Moviestack">
            <img class=" w-full" src="../assets/Moviestack_logotipo1.png" alt="logotipo">
        </div>

        <nav class=" w-3/5  flex flex-wrap justify-around content-center p-7 text-white md:max-h-1/6">
            <a class="px-4 py-3 bg-gray-200 text-black rounded-lg hover:scale-110 transition-transform ease-in-out duration-200 bg-indigo-400" href="#">HOME</a>
            <a class="px-4 py-3 bg-gray-200 text-black rounded-lg hover:scale-110 transition-transform ease-in-out duration-200" href="./movies.html">MOVIES</a>
            <a class="px-4 py-3 bg-gray-200 text-black rounded-lg hover:scale-110 transition-transform ease-in-out duration-200" href="#">FAVS</a>
        </nav>

    </header>

    <main class="min-h-4/6 flex flex-column flex-wrap p-4 ">
        
        <div class="min-h-2/4">
            <div class="h-[400px] text-center font-bold bg-gray-400 p-3 ">
                BANNER
            </div>
            <p class="h-1/4 text-md italic p-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia optio unde eaque omnis expedita
                laudantium suscipit, nobis libero ad labore eveniet excepturi voluptatibus blanditiis quam quisquam
                facilis ab? Quae, doloribus?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat
                repellendus explicabo, provident dolorum consequuntur inventore aperiam amet unde. Veniam modi ipsa
                impedit dicta maxime tenetur iure eos consectetur quasi voluptatem.  Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia optio unde eaque omnis expedita
                laudantium suscipit, nobis libero ad labore eveniet excepturi voluptatibus blanditiis quam quisquam
                facilis ab? Quae, doloribus?Lorem ipsum dolor, sit ame
            </p>
        </div>
        <div class="min-h-2/4 w-full callAction flex flex-column flex-wrap p-2">

            <h3 class="w-full p-1 text-center">You can also see....</h3>

            <div class="callAction w-full flex flex-wrap justify-center gap-10 p-3 ">

                <article class=" w-3/4 h-[250px] others text-center bg-gray-400 align-middle p-2 border-solid border-2 border-black rounded-lg hover:scale-110 transition-transform ease-in-out duration-200 md:h-[300px] md:w-2/5">
                    <p>CALL TO ACTION</p>
                    <P>MOVIES</P>
                </article>

                <article class=" w-3/4 h-[205px] others text-center bg-gray-400 align-middle p-2 border-solid border-2 border-black rounded-lg hover:scale-110 transition-transform ease-in-out duration-200 md:h-[300px] md:w-2/5">
                    <p>CALL TO ACTION</p>
                    <P>FAVS</P>
                </article>

            </div>


        </div>
      

    </main>

    <footer class="h-1/6 w-full bg-gray-800 text-white flex flex-wrap justify-center content-center text-center">
        <div>
            <p>MINDHUB &reg; COHORT 54 </p>
        </div>

    </footer>


    <script src="./data.js"></script>
    <script src="./index.js"></script>
</body>

</html>