<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="movies, cinema, moviestack">
    <meta name="description" content="The best movies are here in Moviestack">
    <link rel="shortcut icon" href="../assets/Moviestack_isotipo.png" type="image/x-icon">
    <meta name="author" content="Mariela Morsucci">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css">

</head>

<body class="h-screen flex flex-column flex-wrap content-between box-border bg-gray-200">

    <header class="h-1/6 w-full flex flex-wrap justify-between content-center p-2 bg-gray-800">

        <div class="w-2/5 flex md:w-2/5 ">
            <img class="w-[100px] object-cover" src="../assets/Moviestack_isotipo.png" alt="logo Moviestack">
            <img class=" w-[400px] object-fill" src="../assets/Moviestack_logotipo1.png" alt="logotipo">
        </div>


        <nav class=" w-2/5  flex flex-wrap gap-1 justify-around content-center p-4 text-white md:max-h-1/6">
            <a class="px-4 py-2 bg-gray-200 text-black rounded-lg hover:scale-110 transition-transform ease-in-out duration-200 bg-indigo-400"
                href="#">HOME</a>
            <a class="px-4 py-2 bg-gray-200 text-black rounded-lg hover:scale-110 transition-transform ease-in-out duration-200 "
                href="./movies.html">MOVIES</a>
            <a class="px-4 py-2 bg-gray-200 text-black rounded-lg hover:scale-110 transition-transform ease-in-out duration-200 "
                href="./favorites.html">FAVS</a>

        </nav>

    </header>

    <main class="min-h-4/6 flex flex-column flex-wrap p-4 justify-between ">

        <div class="min-h-2/4 flex flex-wrap flex-column justify-around content-center pb-6">
            <img class="h-[200px] w-full  object-scale-down md:h-[400px] md:object-fill md:p-0 "
                src="../assets/2018-Avengers Infinity War-banner.jpg" alt="bannerMoviestack">
            <p class="h-1/4 w-4/5 p-3 text-center text-md italic text-[18px] ">
                ¡Bienvenido a Moviestack, la mejor plataforma de streaming! Sumérgete en un mundo de entretenimiento sin
                límites, donde encontrarás una amplia variedad de películas, series y documentales. Descubre contenido
                exclusivo, disfruta de la mejor calidad de imagen y sumérgete en una experiencia única de
                entretenimiento. Únete a nuestra comunidad de amantes del cine y disfruta de todo lo que tenemos para
                ofrecerte. ¡Tu próxima aventura comienza aquí!
            </p>
        </div>
        <div class="min-h-2/4 w-full p-3 pt-8 flex flex-column flex-wrap pt-6">

            <h3 class="w-full p-8 text-center font-bold  text-indigo-400 text-lg">You can also see....</h3>

            <div class="callAction w-full flex flex-wrap justify-center gap-10 p-3 ">

                <article
                    class=" w-3/4 h-[250px] others text-center bg-gray-400 align-middle border-solid border-2 border-black rounded-lg hover:scale-110 transition-transform ease-in-out duration-200 md:h-[300px] md:w-2/5">
                    <img class="w-full h-full object-cover" src="../assets/movie_wallpaper.jpg" alt="fondo">
                    <p class="text-center text-white exo-font text-3xl  font-bold relative bottom-20"><a
                            href="./movies.html">MOVIES</a></p>
                </article>

                <article
                    class=" w-3/4 h-[250px] others text-center bg-gray-400 align-middle border-solid border-2 border-black rounded-lg hover:scale-110 transition-transform ease-in-out duration-200 md:h-[300px] md:w-2/5">
                    <img class="w-full h-full object-cover" src="../assets/movie_wallpaper.jpg" alt="fondo">
                    <p class="text-center text-white exo-font text-3xl  font-bold relative bottom-20"><a
                            href="./favorites.html">FAVORITES</a></p>
                </article>

            </div>


        </div>


    </main>

    <footer class="h-1/6 w-full bg-gray-800 text-white flex flex-wrap justify-center content-center text-center">
        <div>
            <p>MINDHUB &reg; COHORT 54 </p>
        </div>

    </footer>


    <script src="../js/data2.js"></script>
</body>

</html>